@charset "UTF-8";

*{
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 5;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    font-family: serif;
}

body{
    overflow: hidden;
}
ul li{
    list-style-type: none;
}

a, a.active a:hover{
    text-decoration: none;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1350px;
}
/*======================> HEADER <==============================*/
header{
    box-shadow: 0px 0px 5px rgb(169, 168, 168);
    /* background-color: rgb(57, 65, 88); */
    
}
.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.logo__ecole229{
    display: inline-block;
    width: 100%;
    height: 50px;
}
.logo__ecole229 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*======================> MAIN  <==============================*/
main{
    height: calc(100vh - (110px));
    overflow-y: scroll;
    overflow-x: hidden;   
}

main::-webkit-scrollbar{
    width: 10px;
}

main::-webkit-scrollbar-thumb{
    background-color: #030736;
    background-color: rgb(57, 65, 88);
    border-radius: 15px;
}

.main__content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 35px 0;
}

.main__title h2{
    font-size: 20px;
    margin-bottom: 5px;
    color: #030736;
}

.main__title hr{
    height: 3px;
    background-color: rgb(157, 160, 170);
}
/*======================> LISTS STUDENTS <==============================*/
.add__student{
    display: flex;
    justify-content: right;
}

.add__student a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding:10px 35px ;
    background-color: rgb(207, 207, 210); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 9px;
    color: rgb(13, 2, 57);
}

.add__student a:hover{
    background-color: rgb(57, 65, 88);
    background-color: rgb(167, 169, 174);
}
.sucess{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(112, 212, 114);
    border-radius: 9px;
}
.sucess__message p{
    color: rgb(13, 2, 57);
}
table {
    width: 100%; 
    background-color: rgb(227, 227, 227); 
    border: 1px solid rgb(163, 163, 164);
}

thead{
 width: 100%;
}

tbody{
    width: 100%;
}

.head__content{
    width: 100%;
    display: flex;
    gap: 2px; 
}

.head__content th{
    width: 100%;
    padding: 10px 5px;
    background-color:rgb(54, 62, 118);
    background-color: rgb(13, 2, 57);
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
}

.body__content{
    width: 100%;
    display: flex;
    gap: 2px;  
}

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;  
}

.body__content:nth-child(even) td{
    background-color: rgb(157, 160, 170);
}

.body td{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    letter-spacing: 2px;
    gap: 15px;
    background-color:  rgb(220, 220, 220);
    font-weight: bold;
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.body td p{ 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-align: center;
}
.student__photo{
    width: 70px;
    height: 70px; 
} 

.student__photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(57, 65, 88);
}

.actions a span.mdi-plus-box-outline{
    font-size: 25px;
    color: rgb(185, 125, 13);
}

.actions a span.mdi-square-edit-outline{
    font-size: 25px;
    color: rgb(80, 68, 6);
}

.actions a span.mdi-delete-outline{
    font-size: 25px;
    color: rgb(223, 63, 46);
}
.actions a span.mdi-eye-check-outline{
    font-size: 25px;
    color: rgb(47, 108, 4);
}
.actions a span.mdi-eye-remove-outline{
    font-size: 25px;
    color: rgb(163, 73, 50);
}
/*======================>  DETAIL  STUDENTS<==============================*/
.change__student{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back__for__ward {
    display: flex;
    align-items: center;
    gap: 5px;
}

.previous__page a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding:5px 25px ;
    background-color: rgb(207, 207, 210); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 9px;
}
.previous__page a span{
    font-size:20px;
    color:rgb(13, 2, 57);
}

.back__for__ward a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding:5px 25px ;
    background-color: rgb(207, 207, 210); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 9px;
}
.back__for__ward a span{
   font-size: 20px;
   color:rgb(13, 2, 57);
}

.change__student a:hover{
    background-color: rgb(167, 169, 174);
}

.profil h4{
    font-size: 18px;
    color:rgb(13, 2, 57);
}

.main__details__student{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.student__information__top{
    display: flex;
    align-items: center;
    gap: 35px;
}

.photo__student{
    width: 250px;
    height: 250px;
    border: 1px solid rgb(13, 2, 57);
    padding: 5px;
    border-radius: 15px;
}

.photo__student img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    background-color: rgb(57, 65, 88);
}

.student__information{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.information{
    display: flex;
    align-items: center;
    gap: 15px;
}

.information h4{
    font-size: 16px;
    color: rgb(13, 2, 57);
}

.label input{
    width: 100%;
} 

.student__information__bottom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.student__information__bottom h3{ 
    font-size: 16px;
    color: rgb(13, 2, 57);
}

.student__biographie p{
    text-align: justify;
    line-height: 25px;
}

.student__biographie textarea{
    width: 100%;
}

/*============================> ADD STUDENTS <==========================*/
.page__home{
    display: flex;
    align-items: center;
    justify-content: left;
}

.page__home a{
    font-weight: bold;
    padding:5px 25px ;
    background-color: rgb(207, 207, 210); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 9px;
}

.page__home a:hover{
    background-color: rgb(167, 169, 174);
}

.page__home a span{
    font-size:20px;
    color:rgb(13, 2, 57);
}
.form__title h4{
    font-size: 18px;
    color:rgb(13, 2, 57);
    text-align: center;
}

.field input{
    width: 100%;
    padding: 1.5px 10px; 
    outline: none; 
    border: 1px solid rgb(191, 187, 187);
    border-radius: 5px;
}
.photo__student__add{
    border: 1px solid rgb(13, 2, 57);
    border-radius: 15px;
}
input[type=file]::file-selector-button {
    background-color: #eee;
    color: rgb(13, 2, 57);
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 1.5px 10px; 
    height: 250px;
    margin-right: 20px;
    transition: .5s;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
}
  
input[type=file]::file-selector-button:hover {
    background-color: rgb(207, 207, 210); 
    border: 0px;
    border-right: 1px solid #e5e5e5;
 }

.field input[type="date"]{
    width: 100%;
    border: 1px solid rgb(191, 187, 187);
    background-color: #eee;
    color: rgb(13, 2, 57);
    font-size: 17px;
    outline: none;
    border-radius: 5px;
}
.field input[type="date"]:hover{
    background-color: rgb(207, 207, 210); 
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.student__biographie textarea{
    width: 100%;
    padding: 10px;
    outline: none; 
    border: 1px solid rgb(191, 187, 187);
    border-radius: 5px;
}

.main__details__student button{
    cursor: pointer;
    padding: 8px 0;
    color: rgb(13, 2, 57);
    border: none;
    font-weight: bold;
    background-color: rgb(207, 207, 210); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
}
.main__details__student button:hover{
    background-color: rgb(167, 169, 174);
}

.errors__list{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgb(220, 109, 109);
    border-radius: 9px;
}

.errors__list__item{
    color: rgb(13, 2, 57);
}
/*======================> FOOTER <==============================*/
footer{
    box-shadow: 0px 0px 5px rgb(169, 168, 168);
}

.footer__content{
    padding: 15px 0;
}

.footer__content p{
    font-size: 16px;
    color: rgb(13, 2, 57);
    font-weight: bold;
    text-align: center;
}